atropos>=1.1.16
bioservices>=1.5.1
bx-python
colorlog>=3.1.0
colormap
cython
docutils
easydev>=0.9.36
gseapy
itolapi
lxml
matplotlib
matplotlib-venn
mock
multiqc
packaging
pandas>=0.22
psutil
pykwalify>=1.6
pyopengl
pyVCF
pysam
ruamel.yaml
qtconsole
snakemake
scikit-learn
scipy
xlrd
xml2dict
