adjusttext
bioservices>=1.10.0
brokenaxes
bx-python
click>=8.1.0
colorlog>=3.1.0
colormap
cookiecutter
cython
deprecated
docutils
easydev>=0.11.1
gseapy>=0.13
itolapi
lxml
matplotlib
matplotlib-venn
mock
multiqc<1.18
pandas>=0.22
plotly
psutil
pykwalify
pysam>=0.16
rich_click
ruamel.yaml>=0.16.0
scikit-learn
scipy
seaborn
selenium
snakemake>=7.16
statsmodels
tqdm
UpSetPlot
vcfpy
xlrd
