atropos>=1.1.16
bioservices>=1.5.1
colorlog>=3.1.0
cython
docutils
easydev>=0.9.36
matplotlib<3.1.2
mock
multiqc
packaging
pandas>=0.22
psutil
pykwalify==1.6
pyVCF
pysam
ruamel.yaml
qtconsole
snakemake
scipy
xlrd
