bcftools
bedtools
bleach
bowtie
bowtie2
bwa
cutadapt
dsrc
fastqc
fastq-screen
freebayes
khmer
krona
shustring
picard
pigz
pbzip2==1.1.13
samtools
sambamba
snpeff
spades
star
subread
busco==3.0.2
canu
