name: Tests

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches-ignore: []
  schedule:
    - cron: '0 0 13 * *'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python: [3.8, 3.9, '3.10']
      fail-fast: false


    steps:
    - name: checkout git repo
      uses: actions/checkout@v2

    - name: conda/mamba
      uses: mamba-org/provision-with-micromamba@main
      with:
          cache-downloads: true
          environment-file: false
          environment-name: installation
          channels:
            conda-forge,bioconda,defaults
          extra-specs: |
            python=${{ matrix.python }}
            kraken2
            shustring
            samtools
            snpeff
            bwa
            shustring
            cd-hit

    - name: install package itself
      shell: bash -l {0}
      run: |
        pip install .[testing]

    - name: testing
      shell: bash -l {0}
      run: |
        pytest --cov-report term-missing --cov=sequana

    - name: coveralls
      shell: bash -l {0}
      run: |
        pip install coveralls
        coveralls --service=github
      env:
          GITHUB_TOKEN: ${{ github.token }}
